.done,.dtwo,.dthree{
    display: inline-block;
    width:300px;
    height: 300px;
    display: flex;
    margin-left: 20px;
  
    
    margin-top: 12%;
    margin-bottom: 12%;
   
}
img{
 
  transition: transform .2s;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  object-fit: contain;
} 

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover{
    transform: scale(1.7); 
}
body{
    background-image: linear-gradient(#bdc3c7,#6dd5ed);
}